{
  "extends": [
    "airbnb",
    "prettier",
    "next"
  ],
  "plugins": [
    "@typescript-eslint",
    "strict-dependencies"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "curly": [
      1,
      "all"
    ],
    "no-unused-vars": 0,
    "@next/next/no-page-custom-font": 0,
    "@next/next/no-img-element": 0,
    "@typescript-eslint/explicit-member-accessibility": 2,
    "@typescript-eslint/no-unnecessary-type-assertion": 2,
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "fixStyle": "inline-type-imports",
        "disallowTypeAnnotations": true
      }
    ],
    "import/consistent-type-specifier-style": [
      "error",
      "prefer-inline"
    ],
    "@typescript-eslint/consistent-type-exports": "error",
    "prefer-arrow/prefer-arrow-functions": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 2,
    "import/no-duplicates": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/order": [
      "error",
      {
        "pathGroupsExcludedImportTypes": [],
        "pathGroups": [
          {
            "pattern": "~/lib/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "~/scheme/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "~/hooks/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "~/components/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "~/assets/**",
            "group": "internal",
            "position": "after"
          }
        ]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "./",
          "../"
        ]
      }
    ],
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [
          {
            "from": "src/!(lib)/**/*",
            "target": "src/lib/**/*"
          },
          {
            "from": "src/!(scheme|lib)/**/*",
            "target": "src/scheme/**/*"
          }
        ]
      }
    ],
    "strict-dependencies/strict-dependencies": [
      "error",
      [
        {
          "module": "@emotion/styled",
          "allowReferenceFrom": [
            "src/components/*",
            "src/components/!(provider)/**/*"
          ],
          "allowSameModule": false
        },
        {
          "module": "react",
          "allowReferenceFrom": [
            "src/!(scheme|lib)/**/*",
            "src/lib/react/**/*"
          ],
          "allowSameModule": false
        },
        {
          "module": "src/hooks/database",
          "allowReferenceFrom": [
            "src/pages/**/*",
            "src/components/provider/**/*"
          ],
          "allowSameModule": true
        },
        {
          "module": "src/scheme/app-firestore-scheme",
          "allowReferenceFrom": [
            "src/hooks/database/**/*"
          ],
          "allowSameModule": false
        }
      ]
    ],
    "no-undef": 1,
    "react/no-array-index-key": 0,
    "react/require-default-props": [
      1,
      {
        "ignoreFunctionalComponents": true
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "assert": "either"
      }
    ],
    "jsx-a11y/label-has-for": 0,
    "import/prefer-default-export": 1,
    "import/no-extraneous-dependencies": 1,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-indent-props": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-closing-tag-location": 1,
    "react/jsx-indent": 1,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "no-shadow": 1,
    "no-param-reassign": 1
  },
  "globals": {
    "window": true,
    "document": true,
    "location": true
  },
  "env": {
    "jest": true
  }
}