rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{charaId} {
      allow read: if request.auth != null;
    }
  }
}
